body
{
	margin: 0;
	padding: 0;
}

/*Home section*/
.main
{
	background-image: url("img/banner-bg.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	height: 100vh;

}
.container
{
	width: 100%;
	height: 100vh;
	background-color: rgba(132, 96, 246, 0.8);
}
nav
{
	width: 80%;
	margin: auto;
	padding: 3px;
	color: white;
}
nav ul 
{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin-right: 40px;
}
.logo
{
	font-family: 'Bonheur Royale', cursive;
	font-size: 30px;
	font-weight: 600;
	
}
.hide 
{
	display: none;
}
.home
{
	font-family: 'Poppins', sans-serif;
	color: white;
	position: relative;
	top:12%;
	width: 100%;
	text-align: center;
}

.home h1
{
	font-size: 55px;
	font-weight: 100;
	line-height: 1.2em;
	
}
.home p 
{
	font-weight: 600;
	letter-spacing: 0.5px;
	margin-top: -25px;
	font-size: 14px;
}
.home button
{
	margin-top: 40px;
	border-radius: 20px;
	padding: 10px 20px;
	background: transparent;
	color: white;
	border: 1px solid white;
	cursor: pointer;
}
.home button i 
{
	margin-left: 5px;
}
.home button:hover i 
{
	margin-left: 15px;
}
