*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
}

ul 
{
    list-style: none;
}

a 
{
    text-decoration: none;
}

.container
{
    width: 100%;
    height: 100vh;
    background: url('img/business-main.jpg');
    background-size: cover;

} 

.container nav
{
    width: 85%;
    height: 93px;
    margin: auto;
}

.container nav .logo
{
    width: 55%;
    padding-top: 30px;
    float: left;
}

.container nav .logo img 
{
    width: 20%;
}

.container nav ul 
{
    width: 45%;
    float: right;
    padding-top: 35px;
    margin-right: -70px;
}

.container nav ul li
{
    display: inline;
    margin-right: 20px;
}

.container nav ul li:last-child
{
    margin-right: 0;
}
.container nav ul li a 
{
    color: white;
    font-size: 17px;
}

.container .line
{
    width: 100%;
    height: 1px;
    background-color: lightgray;
    opacity: 0.4;
}

.container .fixed-icons
{
    position: fixed;
    top: 200px;
    right: 0px;
    background-color: white;
    width: 43px;
    height: 85px;
    border-radius: 3px 0 0 3px;
    padding: 3px;
    cursor: pointer;
    color: #666666;
    box-shadow: 0 -1px 17px 1px rgb(0 0 0 / 9%);
}
.container .fixed-icons .tools
{
    width: 100%;
    height: 50%;
    text-align: center;
    padding-top: 35%;
    position: relative;
}

.container .fixed-icons .tools .title
{
    position: absolute;
    right: 45px;
    top: 5px;
    width: 160px;
    height: 30px;
    background-color: white;
    padding: 6px 20px;
    display: none;
    border-radius: 3px;
    box-shadow: 0 -1px 17px 1px rgb(0 0 0 / 9%);
}
.container .fixed-icons .tools:hover .title
{
    display: block;
}

.container .fixed-icons .tools .title a 
{
    color: #666;
}

.container .fixed-icons .tools .title:hover
{
    color: white;
    background-color: #0275d8;
    transition: color .2s, background-color .3s;
}

.container .fixed-icons .cart 
{
    width: 100%;
    height: 50%;
    margin: auto;
    text-align: center;
    padding-top: 35%;
}
.container .fixed-icons .cart .title
{
    position: absolute;
    right: 48px;
    top: 47px;
    width: 160px;
    height: 30px;
    background-color: white;
    padding: 6px 20px;
    display: none;
    border-radius: 3px;
    box-shadow: 0 -1px 17px 1px rgb(0 0 0 / 9%);
}

.container .fixed-icons .cart:hover .title
{
    display: block;
}

.container .fixed-icons .cart .title a 
{
    color: #666;
}

.container .fixed-icons .cart .title:hover
{
    color: white;
    background-color: #0275d8;
    transition: color .2s, background-color .3s;
}

.container .content 
{
    width: 50%;
    height: 70%;
    margin: auto;
    text-align: center;
}

.container .content h1 
{
    font-size: 75px;
    padding-top: 195px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.container .content p 
{
    font-size: 23px;
    letter-spacing: 0.8px;
    line-height: 1.6em;
    margin-bottom: 30px;
}
.container .content button 
{
    text-transform: uppercase;
    width: 150px;
    height: 60px;
    padding: 20px 0;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.container .content .learn-more 
{
    background-color: #4274B7;
    color: white;
    margin-right: 10px;
    transition: all 0.5s ease;
}
.container .content .learn-more:hover
{
    background-color: white;
    color: black;
}
.container .content .our-services
{
    background-color: white;
    color: black;
    transition: all 0.5s ease;
}
.container .content .our-services:hover
{
    opacity: 0.6;
}

.container .content .animation
{
    width: 33px;
    height: 51px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 130px auto 0;
}
.container .content .animation .ball
{
    width: 27%;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    margin: 5px auto;
    animation: ball;
    animation-duration:1.5s;
    animation-iteration-count: infinite;
    transition: 0.5s all ease;
}
@keyframes ball 
{
    0% 
    {
        margin: 5px auto;
        opacity: 100%;
    }
    /*20%
    {
        margin: 10px auto;
        opacity: 80%;
    }
    40%
    {
        margin: 13px auto;
        opacity: 60%;
    }
    60%
    {
        margin: 15px auto;
        opacity: 40%;
    }
    80%
    {
        margin: 18px auto;
        opacity: 20%;
    }*/
    100%
    {
        margin: 20px auto;
        opacity: 0%;
    }
}

/*Options Section*/
.options
{
    width: 85%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 80px 0;
}

.options .option 
{
    width: 32%;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 40px;
}

.options .option:hover i 
{
    color: #4274B7;
    transition: 0.5s ease;
}
.options .option .icon 
{
    width: 20%;
    height: 100%;
    color: #686868;
}

.options .option .icon i
{
    padding-left: 25px;
}

.options .option .details
{
    width: 80%;
    height: 100%;
}

.options .option .details h5
{
    color: #303030;
    font-size: 17px;
    margin-bottom: 15px;
}

.options .option .details p 
{
    color: #686868;
    line-height: 25px;
}

/*Who Section*/
.about 
{
    width: 100%;
    height: 780px;
    background-color: #F8F8F9;
    padding-top:  120px;
    
}

.about .about-container
{
    width: 85%;
    height: 100%;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.about .about-container img 
{
    width: 565px;
    height: 549px;

}

.about .about-container .about-content
{
    width: 47%;
    height: 90%;
}

.about .about-container .about-content h3
{
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    color: #303030;
    padding-top: 60px;
    margin-bottom: 30px;
}

.about .about-container .about-content p 
{
    font-size: 16px;
    line-height: 1.86em;
    font-family: 'Open Sans',arial;
    font-weight: 400;
    color: #686868;
    margin-bottom: 30px;
}

.about .about-container .about-content ul
{
    font-size: 16px;
    line-height: 1.86em;
    font-family: 'Open Sans',arial;
    font-weight: 400;
    color: #686868;
    list-style: none;
    margin-bottom: 30px;
}

.about .about-container .about-content ul li 
{
    margin-bottom: 20px;
    font-size: 15px;
}

.about .about-container .about-content ul li i 
{
    color: #4274B7;
    margin-right: 10px;
}

.about .about-container .about-content button
{
    text-transform: uppercase;
    /*width: 130px;
    height: 40px;*/
    padding: 15px 20px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #4274B7;
    color: white;
    transition: all .2s ease-in-out;
}

/*Our Secret Section*/
.secret 
{
    width: 100%;
    height: 780px;
    background-color: white;
    padding-top:  120px;
    
}

.secret .secret-container
{
    width: 85%;
    height: 100%;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.secret .secret-container img 
{
    width: 565px;
    height: 549px;

}

.secret .secret-container .secret-content
{
    width: 47%;
    height: 90%;
}

.secret .secret-container .secret-content h3
{
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    color: #303030;
    padding-top: 60px;
    margin-bottom: 30px;
}

.secret .secret-container .secret-content p 
{
    font-size: 16px;
    line-height: 1.86em;
    font-family: 'Open Sans',arial;
    font-weight: 400;
    color: #686868;
    margin-bottom: 30px;
}

.secret .secret-container .secret-content ul
{
    font-size: 16px;
    line-height: 1.86em;
    font-family: 'Open Sans',arial;
    font-weight: 400;
    color: #686868;
    list-style: none;
    margin-bottom: 30px;
}

.secret .secret-container .secret-content ul li 
{
    margin-bottom: 20px;
    font-size: 15px;
}

.secret .secret-container .secret-content ul li i 
{
    color: #4274B7;
    margin-right: 10px;
}

.secret .secret-container .secret-content button
{
    text-transform: uppercase;
    /*width: 130px;
    height: 40px;*/
    padding: 15px 20px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #4274B7;
    color: white;
    transition: all .2s ease-in-out;
}

/*Our Services Section*/
.services 
{
    width: 100%;
    height: 900px;
    background-color: #F8F8F9;
}

.services .services-container
{
    width: 85%;
    height: 100%;
    margin: auto;
    padding: 90px 0;
}

.services .services-container .services-header
{
    width: 100%;
    height: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.services .services-container .services-header i 
{
    color: #4274B7;
    margin-bottom: 23px;
}

.services .services-container .services-header h3 
{
    font-size: 28px;
    color: #373a3c;
    margin-bottom: 23px;
}

.services .services-container .services-header p 
{
    color: #888;
    font-size: 17px;
    font-weight: 300;
}

.services .services-container .services-content
{
    width: 100%;
    height: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: 25px;
}

.services .services-container .services-content .service
{
    width: 25%;
    height: 90%;
    text-align: center;
    padding: 0 20px;
}

.services .services-container .services-content .service .icon 
{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #4274B7;
    margin: auto;
    text-align: center;
    padding-top: 14px;
    color: white;
    margin-bottom: 20px;
    transition: 1s all ease;
}

.services .services-container .services-content .service:hover .icon
{
    background-color: white;
    color: #4274B7;
    border: 1px solid #4274B7;
}

.services .services-container .services-content .service .service-details h5
{
    font-size: 17px;
    font-weight: bold;
    color: #303030;
    line-height: 1.38em;
    margin-bottom: 15px;
}

.services .services-container .services-content .service .service-details p 
{
    font-family: 'Open Sans',arial;
    font-weight: 400;
    color: #888;
    font-size: 15px;
    line-height: 1.86em;
}

/*Quote Section*/
.quote
{
    width: 100$;
    height: 500px;
    background-image: url('img/business-main.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.quote .quote-container
{
    background-color: #4274b7;
    opacity: .9;
    width: 100%;
    height: 100%;
    margin: auto;
}

.quote .quote-container .icon
{
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;
}

/* Slideshow container */
.slideshow-container {
  background: transparent;
}

/* Slides */
.mySlides {
  display: none;
  padding: 0 10%;
  text-align: center;
  user-select: none;
  font-size: 1.5em;
  font-family: 'Open Sans',arial;
  font-weight: 400;
  color: rgba(255,255,255,.92);
}

.mySlides .quote-body
{
  margin-bottom: 60px;
}

.mySlides .quote-body:before
{
    content: open-quote;
    margin-right: 5px
}

.mySlides .quote-body:after
{
    content: close-quote;
    margin-left: 5px
}

/* Next & previous buttons */
.controls
{
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.controls .prev-container, .controls .next-container
{
    height: 32px;
  width: 32px;
  background: transparent;
  border: 2px solid lightgray;
  color: lightgray;
  border-radius: 100%;
  display: inline-block;
  transition: all .3s;
  position: relative;
  line-height: 32px;
  cursor: pointer;
}
.controls .next-container
{
    margin-left: 5px;
}
.prev, .next 
{
    font-weight: 700;
    position: absolute;
    top: -2px;
    left: 35%;
}

/* On hover, change background color with a little bit see-through */
.prev-container:hover, .next-container:hover
{
  color: #373a3c;
  background-color: white;
  border: white;
}

/* Add a color to the author */
.author 
{
    font-size: 17px;
    color: rgba(255,255,255,.92);
    margin-bottom: 10px;
    margin-top: 20px;
}

.company
{
    font-size: 15px;
    color: lightgray;
    margin-bottom: 40px;
}

/*Clients Logos Section*/
.clients
{
    width: 100%;
    height: 250px;
}

.clients .clients-container
{
    width: 85%;
    padding-top: 5%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.clients .clients-container img 
{
    width: 15%;
    color: #686868;
    opacity: .7;
    transition: all .3s;
}

.clients .clients-container img:hover
{
    opacity: 1;
}

/*Contact Us Section*/
.contact-us
{
    width: 100%;
    height: 400px;
    background-color: #F8F8F9;
}

.contact-us .contact-us-container
{
    width: 85%;
    height: 100%;
    margin: auto;
    padding-top: 110px;
    text-align: center;
}

.contact-us .contact-us-container h2
{
    font-size: 34px;
    color: #303030;
  line-height: 1.38em;
}

.contact-us .contact-us-container p
{
    margin-top: 15px;
    margin-bottom: 25px;
    color: rgba(0,0,0,.5);
    font-size: 20px;
  font-style: normal;
  line-height: 1.5em;
}

.contact-us .contact-us-container button
{
    background-color: #4274b7;
    color: white;
    border: 2px solid transparent;
  padding: 20px 28px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Open Sans',arial;
  letter-spacing: .2px;
  font-weight: 700;
  border-radius: 4px;
  transition: all .2s ease-in-out;
}

.contact-us .contact-us-container button:hover
{
    background-color: #373a3c;
}

/*Footer Section*/
footer
{
    width: 100%;
    height: 300px;
    background-color: #162231;
}

footer .footer-container
{
    width: 85%;
    height: 100%;
    margin: auto;
}

footer .main-footer
{
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 70px;
}

footer .footer-container .main-footer .footer-content
{
    width: 25%;
    height: 100%;
    padding-right: 25px;
}

footer .footer-container .main-footer .footer-content h4 
{
    color: white;
    font-size: 17px;
    margin-bottom: 25px;
}

footer .footer-container .main-footer .footer-content p
{
    color: #58606b;
    font-size: 14px;
    line-height: 1.86em;
}

footer .footer-container .main-footer .footer-content ul 
{
    list-style: none;
    color: #58606b;
}

footer .footer-container .main-footer .footer-content ul li 
{
    margin-bottom: 15px;
    font-size: 14px;
}

footer .footer-container .main-footer .footer-content ul li span 
{
    margin-right: 5px;
}

footer .footer-container .main-footer .footer-content .contact-details
{
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
}

footer .footer-container .main-footer .footer-content .contact-details i
{
    width: 10%;
    padding-top: 5px;
    color: #58606b;
}

footer .footer-container .main-footer .footer-content .contact-details p
{
    width: 80%;
}

footer .copy-container 
{
    width: 100%;
    height: 20%;
    background-color: #121B25;
}

footer .copy-container .copy
{
    color: #58606b;
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

footer .copy-container .copy .copy-content
{
    width: 50%;
    height: 100%;
}

footer .copy-container .copy .copy-content p 
{
    padding-top: 20px;
}

footer .copy-container .copy .copy-social
{
    width: 50%;
    height: 100%;
    padding-top: 15px;
    text-align: right;
}

footer .copy-container .copy .copy-social a
{
    display: inline-block;
    height: 30px;
  width: 30px;
  margin: 3px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 100%;
  background-color: #101922;
  position: relative;
  transition: 1s all ease;
}

footer .copy-container .copy .copy-social a i 
{
    color: #535353;
    text-align: center;
  margin-right: 8px;
  background: rgba(0,0,0,.08);
  position: absolute;
  left: 29%;
  top: 25%;
}

footer .copy-container .copy .copy-social a .f
{
    position: absolute;
    left: 37%;
}


footer .copy-container .copy .copy-social .facebook:hover
{
    background-color: #3B5998;
}

footer .copy-container .copy .copy-social .google:hover
{
    background-color: #DD4B39;
}

footer .copy-container .copy .copy-social .linked:hover
{
    background-color: #007BB5;
}

footer .copy-container .copy .copy-social .twitter:hover
{
    background-color: #00ACED;
}

footer .copy-container .copy .copy-social .facebook:hover i
{
    color: white;
    transition: 1s all ease;
}

footer .copy-container .copy .copy-social .google:hover i
{
    color: white;
    transition: 1s all ease;
}

footer .copy-container .copy .copy-social .linked:hover i
{
    color: white;
    transition: 1s all ease;
}

footer .copy-container .copy .copy-social .twitter:hover i
{
    color: white;
    transition: 1s all ease;
}